html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
  margin: 1em;
}

.btn {
  display: inline-block;
  text-decoration: none;
  border: 3px;
  border-radius: 8px;
  padding-top: .4em;
  padding-bottom: .3em;
  padding-left: .75em;
  padding-right: .75em;
  font-size: 1.125em;
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.btn-subtle {
  padding-top: .4em;
  padding-bottom: .3em;
  padding-left: .75em;
  padding-right: .75em;
  color: #fff;
  background-color: #ccc;
  border-color: #000;
}

.btn-ghost {
  padding-top: .4em;
  padding-bottom: .3em;
  padding-left: .75em;
  padding-right: .75em;
  color: #000;
  background-color: #fff;
  border-color: #000;
}

.btn-warning {
  padding-top: .4em;
  padding-bottom: .3em;
  padding-left: .75em;
  padding-right: .75em;
  color: #fff;
  background-color: #f33;
  border-color: #000;
}

.btn-small {
  padding-top: .4em;
  padding-bottom: .3em;
  padding-left: .75em;
  padding-right: .75em;
  font-size: 1.125em;
}

.btn-big {
  padding-top: .4em;
  padding-bottom: .3em;
  padding-left: .75em;
  padding-right: .75em;
  font-size: 1.125em;
}

.btn-suble {
  padding-top: .4em;
  padding-bottom: .3em;
  padding-left: .75em;
  padding-right: .75em;
}

.btn:hover {
  display: inline-block;
}

.btn-normal:hover {
  background-color: #000;
}

.btn-subtle:hover {
  background-color: #666;
}

.btn-warning:hover {
  background-color: #933;
}

.btn-ghost:hover {
  background-color: #666;
}
